<footer class="bg-green-deep text-sand ">
  <div class="w-full max-w-screen-xl mx-auto p-6">

    <div class="sm:flex sm:items-center sm:justify-between">

      <!-- LOGO -->
      <a routerLink="/" class="flex items-center gap-3 mb-4 sm:mb-0">
        <img
          src="assets/images/pharma-logo.png"
          class="h-10 w-10 rounded-full"
          alt="Pharma Logo"
        />
        <span class="text-2xl font-semibold">Pharma</span>
      </a>

      <!-- LINKS -->
      <ul class="flex flex-wrap gap-6 text-sm font-medium">
        <li><a href="#" class="hover:underline text-sand">About</a></li>
        <li><a href="#" class="hover:underline text-sand">Privacy Policy</a></li>
        <li><a href="#" class="hover:underline text-sand">Licensing</a></li>
        <li><a href="#" class="hover:underline text-sand">Contact</a></li>
      </ul>

    </div>

    <hr class="my-4 border-sand/40">

    <span class="block text-sm text-sand/90 text-center">
      © 2025 Pharma — All Rights Reserved.
    </span>

  </div>
</footer>
